body {
  background-color: lightgray;
}

.rounded {
  border: 1px solid grey;
  border-radius: 15px;
  padding: 0.5em;
}

.orange {
  background-color: orangered;
  color: white;
  cursor: crosshair;
}

.violet {
  background-color: purple;
  color: white;
}

.circle {
  border: 1px solid;
  border-radius: 50%;
}
